# input files
*.fasta
*.fa
*.csv
*.tsv
*.gz
*.aln*
*.zip
*.tab
**/input/data/**
input
# output files
output
output/
*.out
*.swp

# figures
*.png

# log files
*.log

# IDE files (PyCharm/ IntelliJ)
.idea/

# pycache
**/__pycache__/**
*.pyc


# jupyter-notebook cache
**/.ipynb_checkpoints/*
**/jupyter_notebooks/runs/*

# tensorboard files
**/runs*/**

# ARC logs
**/arc-logs*/**

# Weights and Biases files
**/wandb/**

# Archived files
**/archive/**

#macOS files
.DS_store